<div *ngIf="candidatos$ | async as candidatos; else loading">
    <div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
        <h1>Vota por tu candidato</h1>
    </div>
    
    <p class="text-1xl text-center w50">Avisos: Si el boton está en rojo significa que está excluido parcialmente o en proceso por el JNE, las propuestas aquí presentes son las que no son generales y por su puesto tienen más, se irán colocando diariamente. Igualmente pueden leer sus propuestas en el enlace de abajo llamado <a class="text-grey-darker no-underline hover:text-white" href="https://drive.google.com/drive/folders/1RiqHdqcj5McYOyFilHZiLQuyLUIvhI0w" target="_blank">LINKS DE REFERENCIA</a></p>
    
    
    <div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
        <h2>Tags</h2>
    </div>

    <hr class="hr-min">

    <div class="container mx-auto p-8 flex flex-wrap justify-center">
        <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
            <span class="px-2 leading-loose">
                Política 🧐
            </span>
            <a href="https://www.asuntoslegales.com.co/actualidad/constitucion-politica-de-peru-y-los-caminos-legales-para-su-posible-modificacion-total-3095069" target="_blank" class="px-2 leading-loose bg-primary text-white">
                Constitución
            </a>
        </div>
        <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
            <span class="px-2 leading-loose">
                Perú ⭐
            </span>
            <a href="https://andina.pe/agencia/noticia-peru-podria-convertirse-productor-litio-y-autos-electricos-763427.aspx" target="_blank" class="px-2 leading-loose bg-primary text-white">
                Productor de Litio
            </a>
        </div>

        <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
            <span class="px-2 leading-loose">
                Política 🧐
            </span>
            <a href="https://elperuano.pe/noticia/116935-jne-recibira-preguntas-de-electores-para-debate-presidencial" target="_blank" class="px-2 leading-loose bg-primary text-white">
                Preguntas a candidatos
            </a>
        </div>

        <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
            <span class="px-2 leading-loose">
                Covid-19 👨‍‍⚕️
            </span>
            <a href="https://espanol.cdc.gov/coronavirus/2019-ncov/daily-life-coping/going-out/voting-tips.html" target="_blank" class="px-2 leading-loose bg-primary text-white">
                Cuidado
            </a>
        </div>
    </div>

    <div
    class="grid grid-cols-1 grid-rows-4 gap-8 grid-flow-row mb-10 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <ng-container *ngFor="let candidato of candidatos">
            <app-card [candidato]="candidato"></app-card>
        </ng-container>
    </div>
    
    <div class="text-2xl text-center font-bold p-8 lg:pt-0 px-16 border-b">
        <h2>Información extra</h2>
    </div>
    
    <div class="p-16 flex items-center justify-center">
        <table class="rwd-table">
            <thead>
                <tr>
                    <th>Partido</th>
                    <th>Cambio Constitucion</th>
                    <th>Reforma Politica</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let candidato of candidatos">
                    <tr>
                        <td data-th="Partido">{{candidato.partido}}</td>
                        <td data-th="Cambio Constitucion">{{candidato.cambioConstitucion}}</td>
                        <td data-th="Reforma Politica">{{candidato.reformaPolitica}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
    <h2>Tags</h2>
</div>

<hr class="hr-min">

<div class="container mx-auto p-8 flex flex-wrap justify-center">
    <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
        <span class="px-2 leading-loose">
            Política 🧐
        </span>
        <a href="https://www.diferenciador.com/izquierda-y-derecha/" target="_blank" class="px-2 leading-loose bg-primary text-white">
            Izquierda vs Derecha
        </a>
    </div>

    <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
        <span class="px-2 leading-loose">
            Política 🧐
        </span>
        <a href="https://www.onpe.gob.pe/modElecciones/elecciones/2021/EEGG/" target="_blank" class="px-2 leading-loose bg-primary text-white">
            Donde votar
        </a>
    </div>

    <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
        <span class="px-2 leading-loose">
            Perú ⭐
        </span>
        <a href="https://elcomercio.pe/economia/peru/requiere-peru-pais-desarrollado-179935-noticia/" target="_blank" class="px-2 leading-loose bg-primary text-white">
            Mejorar
        </a>
    </div>

    <div class="inline-flex rounded focus:outline-none border border-primary mr-2 mb-2">
        <span class="px-2 leading-loose">
            Perú ⭐
        </span>
        <a href="https://nuso.org/articulo/la-mineria-ilegal-en-peru-entre-la-informalidad-y-el-delito/" target="_blank" class="px-2 leading-loose bg-primary text-white">
            Minería ilegal
        </a>
    </div>
</div>

<div class="banner">
    <a href="https://exe.io/ref/roberto2021"><img src="https://exe.io/img/ref/r1.gif" title="CuT URLs - Earn money by shortening links with the highest CPMs Ever!" /></a>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
