.bg-header {
  /* background: url(https://picsum.photos/1920/1920/?random) center center no-repeat; */
  background: url('./../../../assets/fondo1.png') center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  /* background: url(https://picsum.photos/1600/1600/?random) center center no-repeat; */
  background: url('./../../../assets/fondo4.png') center center no-repeat;
  background-attachment: fixed;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}