<div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
    <h1>Grafica de votos</h1>
</div>

<div class="p-16">
    <app-grafico-barra-horizontal [results]="candidatos"></app-grafico-barra-horizontal>
</div>

<div class="text-2xl text-center font-bold p-8 lg:pt-0 px-16 border-b">
    <h2>Lista de los votantes</h2>
</div>

<div *ngIf="votantes$ | async; let votantes; else loading"
class="p-16 flex items-center justify-center">
    <div class="grid-gallery" *ngIf="votantes.length > 0">
        <ng-container *ngFor="let votante of votantes">
            <span class="grid-gallery__item">{{ votante.nombrecompleto | titlecase }}</span>
        </ng-container>
    </div>
    <div *ngIf="votantes.length === 0">
        <h4 class="text-1xl">No hay votantes aun</h4>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
