<div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
    <h1>Grafica de votos</h1>
</div>

<div class="p-16">
    <app-grafico-barra-horizontal [results]="candidatos"></app-grafico-barra-horizontal>
</div>

<div class="text-2xl text-center font-bold p-8 lg:pt-0 px-16 border-b">
    <h2>Información extra</h2>
</div>

<div class="p-16 flex items-center justify-center">
    <table class="rwd-table">
        <thead>
            <tr>
                <th>Partido</th>
                <th>Cambio</th>
                <th>Reforma Politica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="Partido">Accion Popular</td>
                <td data-th="Cambio">Total</td>
                <td data-th="Reforma Politica">Reforma del sistema electo-ral y judicial</td>
            </tr>
            <tr>
                <td data-th="Partido">Democracia Directa</td>
                <td data-th="Cambio">Total</td>
                <td data-th="Reforma Politica">Reforma política y del sistema de administración de justicia</td>
            </tr>
            <tr>
                <td data-th="Partido">El Frente Amplio por Justicia, Vida y Libertad</td>
                <td data-th="Cambio">Total</td>
                <td data-th="Reforma Politica">Reforma política para promo-ver y transformar el Estado</td>
            </tr>
            <tr>
                <td data-th="Partido">Juntos por el Perú</td>
                <td data-th="Cambio">Total</td>
                <td data-th="Reforma Politica">Mayores  controles  y  límites  a los aportes a campañas de personas jurídicas privadas</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Democrático Somos Perú</td>
                <td data-th="Cambio">Total</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Político Nacional Perú Libre</td>
                <td data-th="Cambio">Total</td>
            </tr>
            <tr>
                <td data-th="Partido">Renacimiento Unido Nacional (RUNA)</td>
                <td data-th="Cambio">Total</td>
            </tr>
            <tr>
                <td data-th="Partido">Unión por el Perú</td>
                <td data-th="Cambio">Total</td>
            </tr>
            <!-- parcial -->
            <tr>
                <td data-th="Partido">Alianza para el Progreso</td>
                <td data-th="Cambio">Parcial</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Aprista Peruan</td>
                <td data-th="Cambio">Parcial</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Morado</td>
                <td data-th="Cambio">Parcial</td>
            </tr>
            <!-- no especifica -->
            <tr>
                <td data-th="Partido">Avanza País - Partido de Integración Social</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Fuerza Popular</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Popular Cristiano (PPC)</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Partido Nacionalista Peruano</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Perú Patria Segura</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Podemos Perú</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Renovación Popular</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
            <tr>
                <td data-th="Partido">Victoria Nacional</td>
                <td data-th="Cambio">No se especifica o apoya la Constitución Actual</td>
            </tr>
        </tbody>
    </table>

    <div class="banner p-20">
    </div>
</div>