<div class="text-3xl text-center font-bold p-8 mt-16 lg:pt-0 px-16 border-b">
    <h1>Grafica de votos</h1>
</div>

<div class="p-16">
    <app-grafico-barra-horizontal [results]="candidatos"></app-grafico-barra-horizontal>
</div>

<div class="text-2xl text-center font-bold p-8 lg:pt-0 px-16 border-b">
    <h2>Nombres de los votantes</h2>
</div>

<div *ngIf="votantes$ | async; let votantes; else loading"
class="p-16 flex items-center justify-center">
    <table class="rwd-table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let votante of votantes">
                <tr>
                    <td data-th="Partido">{{votante.nombrecompleto}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="banner p-20">
</div>